cdlib==0.4.0
cliffs_delta==1.0.0
iteration_utilities==0.13.0
matplotlib==3.10.5
networkx==3.5
numpy==2.3.2
pandas==2.3.1
python_igraph==0.11.9
scipy==1.16.1
seaborn==0.13.2
statsmodels==0.14.4
tqdm==4.67.1
